
.error{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

.contentError{
    text-align: center;
}

.error h1{
    display: flex;
    font-size: 202px;
    margin: 0 10rem;
    text-shadow: 0 10px 10px #333;
}

.error img{
    width: 25%;
    margin:  0 35%;
    margin-bottom: -7rem;
    margin-top: -7rem;
}
.error p{
    font-size: 22px;
}